<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title, class: 'control-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :description, class: 'control-label' %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :site, class: 'control-label' %>
    <%= f.text_field :site, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :pubdate, class: 'control-label' %>
    <%= f.date_select :pubdate, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :complexity, class: 'control-label' %>
    <%= f.number_field :complexity, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
