<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>

<p>
  <strong>Site:</strong>
  <%= @assignment.site %>
</p>

<p>
  <strong>Pubdate:</strong>
  <%= @assignment.pubdate %>
</p>

<p>
  <strong>Complexity:</strong>
  <%= @assignment.complexity %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
