<h2>
  <%= @assignment.title %>

  <% if @assignment.initials %><p><small>Writers: <%= @assignment.initials %></small></p><% end %>
</h2>

<div class="row row-fluid">
  <div class="col-sm-4">
  <h4>Pub. date <small><%= @assignment.publication_date %></small></h4>
    <h4>Label <small><%= @assignment.label %></h4>
    <h4>Series <small><%= @assignment.series  %></h4>
    <h4>Complexity <small><%= @assignment.complexity %></small></h4>
  </div>
  <div class="col-md-8">
    <p class="lead"><%= @assignment.description %></p>
  </div>
</div>

<div class="btn-group">
<%= link_to 'Edit', edit_assignment_path(@assignment), class: 'btn btn-default' %>
<%= link_to 'Back', assignments_path, class: 'btn btn-default' %>
</div>
